body {background-color:#151719;
        color:#ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    text-align:start;
    margin:0px;
    padding:0px;
}

    img.class2 {
    width: 100px;
    overflow: hidden;
    margin: 20px 50% 1px 20px;
    
}    
    img.html {width: 80px;
      margin: 10px 10px 10px 10px;
            display:inline-block;
            padding: 10px;
           
           
        }

        img.css {width: 70px;
          margin: 10px 1px 10px 10px;
            display:inline-block;
            padding: 10px;
            
           
           
        }

        img.js {width: 70px;
            margin: 10px 10px 10px 10px;
            display:inline-block;
            padding: 10%;
 }


    h1 {text-align:center; 
      padding: 5px;
        margin: 25px 20% 5px 20%;
        display:block;
    }

    h2 {text-align:center;        
        display:block;
        margin: 25px 20% 5px 20%;
        

    }

    p {text-align:center;         
      margin: 10px 10px 10px 10px;
        display:block;
        margin: 55px 50px 75px 100px;
    }
    p.class2 {text-align:center;         
      margin: 10px 10px 10px 10px;
            display:block;
            padding: 35px;
            text-decoration: none;
            word-spacing: 60px;
            font-size: 26px;
    }

            p.class3 {text-align:center;     
              margin: 20px 25px 1px 10px;
                text-decoration: none;
                word-spacing: 60px;
                font-size: 26px;
    }
 
      a {color:#3068BE;

      }

      a.class2 {
        color: #ffffff;
        background-color: transparent;
        text-decoration: none;
        text-align: center;
      }
      a.class3 {
        color: #151719;
        background-color: transparent;
        text-decoration: none;  
      }

    nav {
        overflow: hidden;
        background-color:#C41E3A;
        text-align: right;
        display: block;
        color: #fafafa;
        padding-bottom: 10px;
        padding-right: 25%;
        padding-left: 25%;
        text-decoration: none;
        word-spacing: 35px;
        font-size: 22px;
        
        
      }
      nav :hover{
        color: #ffffffbb;
    }


    @media screen and (max-width: 1280px) {
      .show-on-desktop {
        display: none;
      }
    }
    
    @media screen and (min-width: 1281px) {
      .hide-on-desktop {
        display: none;
      }
    }
    

    .mobile-container {
      min-width: 601px;
      margin: auto;
      background-color: #555;
      height: 500px;
      color: white;
      border-radius: 10px;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #C41E3A;
      margin: auto;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    
    .topnav a.icon {
      background: #C41E3A;
      display: block;
      position: absolute;
      right: 10%;
      top: 5%;
      font-size: 30px;
      text-align:center;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    

   

    @media only screen and (max-width: 1280px),
    only screen and (min-width:1281px) {

    div.gallery {
      margin: 25px 3px 5px 3px;
        border: 1px solid #ffffff;
        width: 180px;
        display:inline-block;
      }
      
      div.gallery:hover {
        border: 1px solid #b01c35;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }
    }
div.center {
      padding: 15px;
      text-align: center;
      }

  div.square {
    padding:10px;
    margin: 7px;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-color: #C41E3A;
    margin: 20px 5px 55px 5px;
    display:inline-block;
 
    
  }

